body { 
    margin: 0; 
    padding: 0; 
    background: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #3d324c;
}

@media screen and (min-width: 0px) and (max-width: 660px) {
    #fork { display: none; }
}

@media screen and (min-width: 660px) {
    #fork { display: block; }
}
